:root {
  --primary-color: #3498db;
  --secundary-color: #f9f9f9;
  --color-black: #282828;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  padding: 20px;
}

header .logo {
  font-size: 18px;
  font-weight: bold;
}

.logo {
  width: 160px;
}

label {
  cursor: pointer;
}

main {
  min-height: 100vh;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}

aside {
  max-height: 1080px;
  max-width: 350px;
  flex: 1;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 25px;
  overflow-y: auto;
}

label {
  font-size: 16px;
}

section {
  max-width: min-content;
  flex: 3;
  padding: 10px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
}

section iframe {
  height: 500px;
  width: 850px;
}

.title {
  text-align: left;
  font-size: 32px;
  padding-bottom: 20px;
}

footer {
  width: 100%;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilização dos botões */
.botoes {
  display: flex;
  justify-content: space-between;
}

.img-logo {
  width: 25px;
}

.seta-esquerda {
  rotate: 180deg;
}

button {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  border: 2px solid var(--primary-color);
}

/* Estilização dos links */
a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1cc8ce;
}

/* Estilização das labels de aula quando clicadas */

input[type="radio"]:checked + label {
  color: var(--primary-color);
  font-weight: 300;
  cursor: pointer;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  margin-bottom: 10px;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: auto;
  display: inline-block;
  color: var(--color-black);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--primary-color);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@keyframes animateTitle {
  0% {
    opacity: 1; /* Início da animação - opacidade total */
  }
  50% {
    opacity: 0; /* Meio da animação - opacidade zero */
  }
  100% {
    opacity: 1; /* Fim da animação - opacidade total */
  }
}

/* Aplica a animação ao título */
#animatedTitle {
  animation: animateTitle 4s linear infinite; /* Duração da animação: 2 segundos */
}

/* RESPONSIVIDADE */

@media screen and (min-width: 320px) and (max-width: 425px) {
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: auto;
  }
  aside {
    margin: auto;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
  }

  label {
    font-size: 16px;
    margin-left: 25px;
  }

  h2 {
    text-align: center;
  }
  section {
    margin: auto;
    width: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 22px;
  }

  section iframe {
    height: 200px;
    width: 100%;
  }

  footer {
    width: 100%;
    margin-top: 10px;
  }

  .botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    width: 320px;
    margin: 5px;
  }
}

/* Estilos para tela com largura igual ou inferior a 425px */
@media screen and (min-width: 425px) and (max-width: 768px) {
  main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  aside {
    max-width: 768px;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
    margin: auto;
    overflow: hidden;
  }

  label {
    margin-left: 25px;
    font-size: 22px;
  }

  h2 {
    margin-top: 25px;
    text-align: center;
  }
  section {
    max-width: 768px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 22px;
  }

  section iframe {
    max-height: 700px;
    max-width: 100%;
  }

  footer {
    width: 100%;
    margin-top: 10px;
  }

  .botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    width: 150px;
    margin: 5px;
  }
}

/* Estilos para tela com largura igual ou inferior a 768px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  aside {
    max-width: 768px;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
    margin: 10px;
  }

  label {
    margin-left: 25px;
    font-size: 26px;
  }

  h2 {
    text-align: left;
    margin-left: 25px;
  }
  section {
    max-width: 1024px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 32px;
  }

  section iframe {
    min-height: 450px;
    width: 100%;
  }

  footer {
    width: 100%;
    margin-top: 10px;
  }

  .botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 150px;
    margin: 5px;
  }
}
/* 
/* Estilos para tela com largura igual ou inferior a 1024px */
